.footer-main {
	min-width: 50%;
	max-width: 100%;
	width: 100%;
	height: 30vh;
	background-color: #141414;
}

.sidebar-container {
	width: 100% !important;
}

.vertical-center {
	margin-left: auto !important;
	margin-right: auto !important;
	padding-top: 50vh !important;

	width: 100vh;
	height: 100vh;
}
